<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Task Manager</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('about')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Task Manager</h1>
    <p class="lead">Application for managing tasks for a team or a small company</p>

    <hr class="my-4">
    <p>Built with:</p>
    <ul>
        <li>Spring Boot</li>
        <li>Spring Security</li>
        <li >Mysql database</li>
        <li>Maven</li>
        <li>Thymeleaf</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <li>Java Mail API</li>
        <li>SMTP Server</li>
    </ul>

    <div>
    <p><a href="https://github.com/ife0luwa">github profile</a></p>
    <p><a href="https://www.linkedin.com/in/ifeoluwa-clement-babalola/">LinkedIn profile</a></p>
    <p><a href="https://docs.google.com/document/d/1-iuAhjCPmW9uQrg-5lFesqw70yWitRhUr2CQs0eNIgA/edit?usp=sharing">Resume</a></p>
    </div>



</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>